@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* { 
    font-family: 'Muli', sans-serif;
}
body {
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #636262;
}
.menu {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
}
.menu li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    background: #f1f1f1;
    padding: 5px 30px;
}
.menu li a, .menu li a:hover, .menu li a:visited {
    text-decoration: none;
    color: #333333
}